@font-face {
  font-family: 'iconfont';  /* Project id 1886577 */
  src: url('https://at.alicdn.com/t/font_1886577_bjyzkv19ovi.woff2?t=1647690821855') format('woff2'),
       url('https://at.alicdn.com/t/font_1886577_bjyzkv19ovi.woff?t=1647690821855') format('woff'),
       url('https://at.alicdn.com/t/font_1886577_bjyzkv19ovi.ttf?t=1647690821855') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e659";
}

.icon-guanbi-copy:before {
  content: "\ec83";
}

.icon-quanbudingdan:before {
  content: "\e606";
}

.icon-31daishouhuo:before {
  content: "\e608";
}

.icon-31daipingjia:before {
  content: "\e609";
}

.icon-daifukuan:before {
  content: "\e63f";
}

.icon-daifahuo:before {
  content: "\e60a";
}

.icon-qianbao:before {
  content: "\e63e";
}

.icon-morentouxiang1:before {
  content: "\e616";
}

.icon-morentouxiang1-copy:before {
  content: "\ec81";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-xiaoxi:before {
  content: "\ec3b";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-dangjianpengyouquan:before {
  content: "\e6bd";
}

.icon-chakantiezigengduojubao-copy:before {
  content: "\ec82";
}

.icon-chakantiezigengduojubao:before {
  content: "\e66b";
}

.icon-31gouwuchexuanzhong:before {
  content: "\e605";
}

.icon-gouwuche-copy:before {
  content: "\ec80";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-dingwei_white:before {
  content: "\e604";
}

.icon-pinglun-copy:before {
  content: "\eb03";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-qita:before {
  content: "\e602";
}

.icon-fanhui:before {
  content: "\e603";
}

.icon-fenxiang-:before {
  content: "\e713";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-jinrujiantou-copy:before {
  content: "\eb02";
}

.icon-saoyisao:before {
  content: "\e632";
}

.icon-saoyisao-copy:before {
  content: "\eb01";
}

.icon-jiahao:before {
  content: "\e61f";
}

.icon-jiahao-copy:before {
  content: "\eaff";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-sousuo-copy:before {
  content: "\eb00";
}

.icon-wode1:before {
  content: "\e8c6";
}

.icon-home:before {
  content: "\e600";
}

.icon-jiankangbaike:before {
  content: "\e691";
}

.icon-shandian:before {
  content: "\e8b6";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-shequ:before {
  content: "\e627";
}

.icon-receipt-address:before {
  content: "\e673";
}

.icon-gouwuche:before {
  content: "\e607";
}

.icon-kefu:before {
  content: "\e601";
}

.icon-fukuantongzhi:before {
  content: "\e60c";
}

.icon-ding_dan:before {
  content: "\e61b";
}

.icon-shoucang1:before {
  content: "\e614";
}

.icon-tuihuotuikuan_dianpu:before {
  content: "\e773";
}

.icon-fenxiang:before {
  content: "\e623";
}

.icon-shoucang:before {
  content: "\e66d";
}

